PORT=3000
PG_URL=postgres://user:password@localhost:5432/database
JWT_SECRET=your_token
BASE_URL=url_du_site
TMDB_API_KEY=ta_clef_tmdb_ici
SMTP_HOST=TON_MTP_MAIL
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=TON_ADRESSE_MAIL
SMTP_PASSWORD=TON_MDP_APPLICATION
