@font-face {
  font-family: "Cinzel";
  src: url("/fonts/Cinzel/static/Cinzel-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cinzel";
  src: url("/fonts/Cinzel/static/Cinzel-Bold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/static/Inter_18pt-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/static/Inter_18pt-Bold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/static/Inter_18pt-Italic.ttf");
  font-weight: italic;
  font-style: normal;
  font-display: swap;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Cinzel", sans-serif;
}

:root {
  --color-popcorn: #f8ecd8;
  --color-red-cinema: #c7342d;
  --color-gold-cinema: #d4af37;
  --color-grey-cinema: #2e2e2e;
}

* {
font-family: "Inter", sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: var(--color-popcorn);
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 193px);
}

header, footer {
  flex-shrink: 0;
  width: 100%;
  position: relative;
  z-index: 10;
}

footer {
  height: 80px; 
  min-height: 80px;
  width: 100%;
  position: relative;
  z-index: 10;
  background-color: var(--color-popcorn);
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 80px; 
  box-sizing: border-box;
}
